.banner {
    margin-top: 8.285em;
    padding-top: 7.714em;
    padding-bottom: 7.714em;
    text-align: center;
    background-color: #F5F5F5;
    transition: margin-top .3s linear;
}
.isAnimationTop .banner {
    margin-top: 5.5em;
}
    .banner-title {
        font-weight: bold;
        font-size: 3.785em;
        line-height: 1.283em;
        margin-bottom: 0.226em;
    }
    .banner-subtitle {
        font-weight: lighter;
        font-size: 2.642em;
        line-height: 1em;
        margin-bottom: 2.62em;
    }
    .banner-callToAction {
        font-size: 1.428em;
        padding-left: 1.15em;
        padding-right: 1.15em;
    }
