.learning-title {
    background-color:#404D60;
    color: #FFF;
}
.learning-title:after {
    background-color: #60D390;
}
.learning-menu {
    font-size: 2em;
    height: 4.107em;
    color: #FFF;
}
    .learning-menu-item {
        display: inline-block;
        width: 36.25%;
        height: 100%;
    }
    .learning-menu-item_center {
        width: 27.5%;
    }
        .learning-menu-item-action {
            display: block;
            height: 100%;
            line-height: 4.107em;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
        }
        .learning-menu-item-action_uxStrategy {
            background-color: #7CDAAF;
            text-align: right;
            padding-right: 24.590%;
        }
        .learning-menu-item-action_uxUsability {
            background-color: #7AB0DC;
            text-align: center;
            min-width: 184px;
        }
        .learning-menu-item-action_uxAnalysis {
            background-color: #8985a7;
            padding-left: 24.590%;
        }
            .learning-menu-item-action:before {
                content: '';
                border-top: 8px solid #404D60;
                border-right: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 8px solid transparent;
                position: absolute;
                transform: translateY(-8px);
                opacity: 0;
                transition: transform .2s linear, opacity .3s linear;
            }
            .learning-menu-item-action_isActive:before {
                transform: translateY(0px);
                opacity: 1;
            }
            .learning-menu-item-action_uxStrategy.learning-menu-item-action:before {
                left: 58%;
                margin-left: -8px;
            }
            .learning-menu-item-action_uxUsability.learning-menu-item-action:before {
                left: 50%;
                margin-left: -8px;
            }
            .learning-menu-item-action_uxAnalysis.learning-menu-item-action:before {
                left: 41%;
                margin-left: -8px;
            }

            .learning-menu-item-action strong {
                font-weight: normal;
            }
            .learning-menu-item-action_isActive strong {
                font-weight: 900;
            }
