.wrap-testimony {
    text-align: center;
    padding-bottom: 3.571em;
}
    .wrap-testimony-title:after {
        background-color: #60D390;
    }
    .testimony {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid #EEE9E9;
        width: 22.222%;
        border-radius: 3px;
        padding: 2em 1.855%;
        font-size: 1.071em;
    }
    .wrap-socialNetwork {
        position: relative;
    }
        .testimony-photo {
            margin-bottom: 1.857em;
        }
        .testimony-socialNetwork {
            background: no-repeat center center;
            background-size: 100%;
            width: 38px;
            height: 38px;
            position: absolute;
            bottom: 5px;
            right: 40px;
        }
        .testimony-socialNetwork_twitter {
            background-image: url('/image/iconTwitter.svg');
        }
        .testimony-socialNetwork_linkedin {
            background-image: url('/image/iconLinkedin.svg');
        }
            .testimony-socialNetwork-action {
                display: block;
                text-indent: -9999px;
                overflow: hidden;
            }
    .testimony-date {
        font-weight: 300;
    }
    .testimony-date,
    .testimony-comment {
        margin-bottom: 1.8em;
    }
    .testimony-title {
        color: #60d390;
        font-size: 1.333em;
        margin-bottom: .2em;
    }
    .testimony-role {
        font-weight: 300;
    }
