<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Faça o curso de UX e revoluncione o mercado de trabalho</title>

    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/block/callToAction.css">

    <link rel="stylesheet" href="/style/block/header.css">
    <link rel="stylesheet" href="/style/block/banner.css">
    <link rel="stylesheet" href="/style/block/learning.css">
    <link rel="stylesheet" href="/style/block/uxToolBoxes.css">
    <link rel="stylesheet" href="/style/block/infoCourse.css">
    <link rel="stylesheet" href="/style/block/downloadWorkbook.css">
    <link rel="stylesheet" href=/style/block/handsOn.css>
    <link rel="stylesheet" href="/style/block/sectionTeacher.css">
    <link rel="stylesheet" href="/style/block/teacher.css">
    <link rel="stylesheet" href="/style/block/socialNetwork.css">
    <link rel="stylesheet" href="/style/block/signup.css">
    <link rel="stylesheet" href="/style/block/testimony.css">
    <link rel="stylesheet" href="/style/block/contact.css">
    <link rel="stylesheet" href="/style/block/sectionOther.css">
    <link rel="stylesheet" href="/style/block/other.css">
    <link rel="stylesheet" href="/style/block/footerGrupoCaelum.css">
</head>
<body>
    <header class="header">
        <img src="/image/logoCaelum.svg" alt="Log da Caelum - Ensino e inovação" class="header-logo" width="150" height="47">

        <nav class="wrap-header-menu">
            <ul class="header-menu">
                <li class="header-menu-item">
                    <a href="#learning">Você vai aprender</a>
                </li>

                <li class="header-menu-item">
                    <a href="">Mão na massa</a>
                </li>

                <li class="header-menu-item">
                    <a href="">Professores</a>
                </li>

                <li class="header-menu-item header-menu-item_download">
                    <a href="">Download da apostila</a>
                </li>

                <li class="header-menu-item header-menu-item_callToAction">
                    <a href="" class="callToAction">Matricule-se</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="banner">
        <h1 class="banner-title">Faça o curso de UX<br>e revolucione o mercado de trabalho</h1>
        <h2 class="banner-subtitle">Êi, a próxima turma em São Paulo começa em 7 dias</h2>
        <a href="" class="banner-callToAction callToAction">Matricule-se</a>
    </section>

    <article id="learning" class="learning">
        <h1 class="learning-title title">Você vai aprender</h1>

        <nav class="wrap-learning">
            <ul class="learning-menu">
                <li class="learning-menu-item">
                    <a href="#uxStrategy" class="learning-menu-item-action learning-menu-item-action_uxStrategy learning-menu-item-action_isActive">
                        <strong>UX</strong> Strategy
                    </a>
                </li><!--
             --><li class="learning-menu-item learning-menu-item_center">
                    <a href="#uxUsability" class="learning-menu-item-action learning-menu-item-action_uxUsability">
                        <strong>UX</strong> Usability
                    </a>
                </li><!--
             --><li class="learning-menu-item">
                    <a href="#uxAnalysis" class="learning-menu-item-action learning-menu-item-action_uxAnalysis">
                        <strong>UX</strong> Analysis
                    </a>
                </li>
            </ul>
        </nav>

        <dl id="uxStrategy" class="uxToolBoxes">
            <dt class="uxToolBoxes-title">Planeje seu produto com foco no usuário</dt>

            <dd class="uxToolBoxes-item">
                <img src="/image/uxStrategy.svg" alt="Conteúdo que vai ser abordado no curso sobre UX Strategy">
            </dd>
        </dl>
    </article><!-- #learning -->

    <article id="infoCourse" class="wrap-infoCourse">
        <ol class="infoCourse">
            <li class="infoCourse-item infoCourse-item_hours">
                <strong>40hs</strong> De aprendizado<br>com muita prática
            </li><!--
         --><li class="infoCourse-item infoCourse-item_qtd">
                <strong>632</strong> Alunos fizeram<br>esse curso
            </li><!--
         --><li class="infoCourse-item infoCourse-item_project">
                Faça um projeto<br>do zero ao protótipo
            </li><!--
         --><li class="infoCourse-item infoCourse-item_work">
                Saia preparado para o<br>mercado de trabalho
            </li>
        </ol>
    </article><!-- #infoCourse -->

    <section class="downloadWorkbook">
        <h1 class="downloadWorkbook-title">
            Quer saber mais o que você vai aprender?
        </h1>
        <h2 class="downloadWorkbook-subtitle">
            Resolvemos abrir nossa apostila para a comunidade!
        </h2>

        <a href="" class="downloadWorkbook-callToAction callToAction">
            Baixe a apostila
        </a>
    </section>

    <article class="wrap-handsOn">
        <h1 class="title wrap-handsOn-title">Mão na massa</h1>
        <h2 class="wrap-handsOn-subtitle">Muita prática em casos reais!</h2>
        <h2 class="wrap-handsOn-subtitle">Olha o que nossos alunos estão compartilhando no Instagram. <a href="">#CaelumUX</a></h2>

        <dl class="handsOn">
            <dt class="handsOn-photo">
                <img src="/image/insta1.png" alt="" width="385" height="323">
            </dt>
            <dd class="handsOn-item handsOn-item_like">28 likes</dd>
            <dd class="handsOn-item handsOn-item_comment"><strong calss="handsOn-item handsOn-item-user">@carladebona</strong> Essa semana tô aqui facilitando o curso de #ux da caelum e o desafio é criar um app! Habemos post it!</dd>
            <dd class="handsOn-item handsOn-item_date">06.07.2016</dd>
        </dl>

        <dl class="handsOn">
            <dt class="handsOn-photo">
                <img src="/image/insta2.png" alt="" width="385" height="323">
            </dt>
            <dd class="handsOn-item handsOn-item_like">28 likes</dd>
            <dd class="handsOn-item handsOn-item_comment"><strong calss="handsOn-item handsOn-item-user">@carladebona</strong> Essa semana tô aqui facilitando o curso de #ux da caelum e o desafio é criar um app! Habemos post it!</dd>
            <dd class="handsOn-item handsOn-item_date">06.07.2016</dd>
        </dl>

        <dl class="handsOn">
            <dt class="handsOn-photo">
                <img src="/image/insta3.png" alt="" width="385" height="323">
            </dt>
            <dd class="handsOn-item handsOn-item_like">28 likes</dd>
            <dd class="handsOn-item handsOn-item_comment"><strong calss="handsOn-item handsOn-item-user">@carladebona</strong> Essa semana tô aqui facilitando o curso de #ux da caelum e o desafio é criar um app! Habemos post it!</dd>
            <dd class="handsOn-item handsOn-item_date">06.07.2016</dd>
        </dl>
    </article>

    <article class="sectionTeacher">
        <h1 class="sectionTeacher-title title">Professores</h1>
        <h2 class="sectionTeacher-subtitle">
            Professores capacitados, influentes na comunidade de UX
        </h2>

        <div class="wrap-teacher">
            <span class="wrap-teacher-arrowLeft"></span>
            <dl class="teacher teacher_isLeft">
                <dd class="teacher-item teacher-item_photo">
                    <img src="/image/MarcoBruno.png" alt="Foto do Marco Bruno">
                </dd>

                <dt class="teacher-title">Marco Bruno</dt>

                <dd class="teacher-item teacher-item_subtitle">
                    Desenvolvedor FrontEnd/UX
                </dd>
                <dd class="teacher-item teacher-item_description">Hoje, instrutor pela Caelum e desenvolvedor com foco em UX e front-end, Marco já trabalhou nas mais diversas áreas. Foi palhaço, entrou na área de TI como desenvolvedor HMI/PLC e gosta de ir descobrindo seu caminho conforme o percorre.Marco também tem uma crescente presença em comunidades de UX e Front-end, trabalhando para uní-las, palestra em empresas e eventos como o WebBR.</dd>

                <dd class="teacher-item teacehr-item_socialNetwork">
                    <ul class="socialNetwork">
                        <li class="socialNetwork-item socialNetwork-item_blog">
                            <a href="" class="socialNetwork-item-action">Blog pessoal</a>
                        </li>

                        <li class="socialNetwork-item socialNetwork-item_twitter">
                            <a href="" class="socialNetwork-item-action">Twitter</a>
                        </li>

                        <li class="socialNetwork-item socialNetwork-item_linkedin">
                            <a href="" class="socialNetwork-item-action">Linkedin</a>
                        </li>

                        <li class="socialNetwork-item socialNetwork-item_github">
                            <a href="" class="socialNetwork-item-action">Github</a>
                        </li>
                    </ul>
                </dd>
            </dl>

            <dl class="teacher teacher_isActive">
                <dd class="teacher-item teacher-item_photo">
                    <img src="/image/MarcoBruno.png" alt="Foto do Marco Bruno">
                </dd>

                <dt class="teacher-title">Marco Bruno</dt>

                <dd class="teacher-item teacher-item_subtitle">
                    Desenvolvedor FrontEnd/UX
                </dd>
                <dd class="teacher-item teacher-item_description">Hoje, instrutor pela Caelum e desenvolvedor com foco em UX e front-end, Marco já trabalhou nas mais diversas áreas. Foi palhaço, entrou na área de TI como desenvolvedor HMI/PLC e gosta de ir descobrindo seu caminho conforme o percorre.Marco também tem uma crescente presença em comunidades de UX e Front-end, trabalhando para uní-las, palestra em empresas e eventos como o WebBR.</dd>

                <dd class="teacher-item teacehr-item_socialNetwork">
                    <ul class="socialNetwork">
                        <li class="socialNetwork-item socialNetwork-item_blog">
                            <a href="" class="socialNetwork-item-action">Blog pessoal</a>
                        </li>

                        <li class="socialNetwork-item socialNetwork-item_twitter">
                            <a href="" class="socialNetwork-item-action">Twitter</a>
                        </li>

                        <li class="socialNetwork-item socialNetwork-item_linkedin">
                            <a href="" class="socialNetwork-item-action">Linkedin</a>
                        </li>

                        <li class="socialNetwork-item socialNetwork-item_github">
                            <a href="" class="socialNetwork-item-action">Github</a>
                        </li>
                    </ul>
                </dd>
            </dl>

            <dl class="teacher teacher_isRight">
                <dd class="teacher-item teacher-item_photo">
                    <img src="/image/MarcoBruno.png" alt="Foto do Marco Bruno">
                </dd>

                <dt class="teacher-title">Marco Bruno</dt>

                <dd class="teacher-item teacher-item_subtitle">
                    Desenvolvedor FrontEnd/UX
                </dd>
                <dd class="teacher-item teacher-item_description">Hoje, instrutor pela Caelum e desenvolvedor com foco em UX e front-end, Marco já trabalhou nas mais diversas áreas. Foi palhaço, entrou na área de TI como desenvolvedor HMI/PLC e gosta de ir descobrindo seu caminho conforme o percorre.Marco também tem uma crescente presença em comunidades de UX e Front-end, trabalhando para uní-las, palestra em empresas e eventos como o WebBR.</dd>

                <dd class="teacher-item teacehr-item_socialNetwork">
                    <ul class="socialNetwork">
                        <li class="socialNetwork-item socialNetwork-item_blog">
                            <a href="" class="socialNetwork-item-action">Blog pessoal</a>
                        </li>

                        <li class="socialNetwork-item socialNetwork-item_twitter">
                            <a href="" class="socialNetwork-item-action">Twitter</a>
                        </li>

                        <li class="socialNetwork-item socialNetwork-item_linkedin">
                            <a href="" class="socialNetwork-item-action">Linkedin</a>
                        </li>

                        <li class="socialNetwork-item socialNetwork-item_github">
                            <a href="" class="socialNetwork-item-action">Github</a>
                        </li>
                    </ul>
                </dd>
            </dl>
            <span class="wrap-teacher-arrowRight"></span>
        </div>
    </article>

    <section class="signup">
        <h1 class="signup-title">
            Revolucione o mercado de trabalho com o curso mais completo de UX
        </h1>
        <a href="" class="signup-callToAction callToAction">Matricule-se</a>
    </section>

    <article class="wrap-testimony">
        <h1 class="wrap-testimony-title title">
            Nossos alunos estão falando
        </h1>

        <dl class="testimony">
            <div class="wrap-socialNetwork">
                <dd class="testimony-photo">
                    <img src="/image/joaoVitor.png" alt="Foto do aluno João Vitor">
                </dd>
                <dd class="testimony-socialNetwork testimony-socialNetwork_twitter">
                    <a href="" class="testimony-socialNetwork-action">Twitter</a>
                </dd>
            </div>
            <dd class="testimony-date">Curso feito em 16.06.2016</dd>
            <dd class="testimony-comment">
                O curso te tira da sua zona de conforto e te faz pensar e agir em uma solução eficiente e eficaz, que realmente supre as necessidades do usuário e cliente.
            </dd>
            <dt class="testimony-title">João Vitor Cavalcante</dt>
            <dd class="testimony-role">Front-end Developer e UX Designer</dd>
        </dl>

        <dl class="testimony">
            <div class="wrap-socialNetwork">
                <dd class="testimony-photo">
                    <img src="/image/joaoVitor.png" alt="Foto do aluno João Vitor">
                </dd>
                <dd class="testimony-socialNetwork testimony-socialNetwork_linkedin">
                    <a href="" class="testimony-socialNetwork-action">Twitter</a>
                </dd>
            </div>
            <dd class="testimony-date">Curso feito em 16.06.2016</dd>
            <dd class="testimony-comment">
                O curso te tira da sua zona de conforto e te faz pensar e agir em uma solução eficiente e eficaz, que realmente supre as necessidades do usuário e cliente.
            </dd>
            <dt class="testimony-title">João Vitor Cavalcante</dt>
            <dd class="testimony-role">Front-end Developer e UX Designer</dd>
        </dl>

        <dl class="testimony">
            <div class="wrap-socialNetwork">
                <dd class="testimony-photo">
                    <img src="/image/joaoVitor.png" alt="Foto do aluno João Vitor">
                </dd>
                <dd class="testimony-socialNetwork testimony-socialNetwork_twitter">
                    <a href="" class="testimony-socialNetwork-action">Twitter</a>
                </dd>
            </div>
            <dd class="testimony-date">Curso feito em 16.06.2016</dd>
            <dd class="testimony-comment">
                O curso te tira da sua zona de conforto e te faz pensar e agir em uma solução eficiente e eficaz, que realmente supre as necessidades do usuário e cliente.
            </dd>
            <dt class="testimony-title">João Vitor Cavalcante</dt>
            <dd class="testimony-role">Front-end Developer e UX Designer</dd>
        </dl>
    </article>

    <article class="wrap-contact">
        <h1 class="wrap-contact-title title">Matrícula, dúvidas ou papo com o professor?</h1>
        <h2 class="wrap-contact-subtitle">
            Preencha o formulário e nós entraremos em contato para finalizar a sua<br>matrícula ou responder suas dúvidas
        </h2>

        <form action="" class="contact">
            <fieldset>
                <label for="name" class="contact-label">Nome</label>
                <input class="contact-textBox contact-textBox_small" type="text" id="name">

                <label class="contact-label">Prefiro receber contato por</label>

                <input type="checkbox" id="emailCheck">
                <label for="emailCheck" class="contact-checkBox">E-mail</label>

                <input type="checkbox" id="phoneCheck">
                <label class="contact-checkBox" for="phoneCheck">Telefone</label>

                <label for="email" class="contact-label contact-label_isDisabled">E-mail</label>
                <input class="contact-textBox contact-textBox_small" type="email" id="email">

                <label for="phone" class="contact-label contact-label_isDisabled">Telefone</label>
                <input class="contact-textBox contact-textBox_small" type="text" id="phone">
            </fieldset>

            <fieldset>
                <label for="class" class="contact-label">
                    Estou interessado na turma
                </label>
                <select id="class" class="contact-textBox contact-textBox_small">
                    <option value="">29/08 a 09/09 Noturno (19h às 23h) São Paulo</option>
                    <option value="">29/08 a 09/09 Noturno (19h às 23h) São Paulo</option>
                    <option value="">29/08 a 09/09 Noturno (19h às 23h) São Paulo</option>
                    <option value="">Quero em outra data</option>
                </select>

                <label class="contact-label">Mensagem</label>
                <textarea class="contact-textBox" name="" id="" cols="30" rows="10"></textarea>
            </fieldset>

            <input type="submit" class="contact-callToAction callToAction" value="Enviar">
        </form>
    </article>

    <aside class="sectionOther">
        <h1 class="sectionOther-title title">Talvez você goste desses cursos</h1>


        <dl class="other">
            <dt class="other-title">PM-83</dt>
            <dd class="other-description">
                Curso Gerenciamento ágil de projetos de Software com Scrum
            </dd>
            <dd class="other-hours">
                <strong>40h</strong> Carga horária
            </dd><!--
         --><dd class="other-nextDate">
                Próxima turma em <strong>01/09/2016</strong>
            </dd>
            <dd class="other-action">
                <a href="">
                    Mais informações
                </a>
            </dd>
        </dl>

        <dl class="other">
            <dt class="other-title">WD-43</dt>
            <dd class="other-description">
                Curso Desenvolvimento Web com HTML, CSS e JavaScript
            </dd>
            <dd class="other-hours">
                <strong>40h</strong> Carga horária
            </dd><!--
         --><dd class="other-nextDate">
                Próxima turma em <strong>01/09/2016</strong>
            </dd>
            <dd class="other-action">
                <a href="">
                    Mais informações
                </a>
            </dd>
        </dl>
    </aside>

    <footer class="wrap-footerGrupoCaelum">
        <ul class="footerGrupoCaelum">
            <li class="footerGrupoCaelum-item">
                <a href="" class="footerGrupoCaelum-item-action">
                    <img src="/image/logoGrupoCaelum.svg" alt="Logo do grupo Caelum">
                </a>
                <ul class="wrap-footerGrupoCaelum-item-company">
                    <li class="footerGrupoCaelum-item-company">
                        <a href="">
                            <img src="/image/logoCaelumFooter.svg" alt="Logo da Caelum" width="100">
                        </a>
                    </li>
                    <li class="footerGrupoCaelum-item-company">
                        <a href="">
                            <img src="/image/logoAlura.svg" alt="Logo da Alura" width="56">
                        </a>
                    </li>
                    <li class="footerGrupoCaelum-item-company">
                        <a href="">
                            <img src="/image/logoCasaDoCodigo.svg" alt="Logo da Casa do Código" width="70">
                        </a>
                    </li>
                    <li class="footerGrupoCaelum-item-company">
                        <a href="">
                            <img src="/image/logoGUJ.svg" alt="Logo do forum GUJ" width="75">
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </footer>
</body>
</html>
