<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Faça o curso de UX e revoluncione o mercado de trabalho</title>

    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/block/callToAction.css">

    <link rel="stylesheet" href="/style/block/header.css">
    <link rel="stylesheet" href="/style/block/banner.css">
</head>
<body>
    <header class="header">
        <img src="/image/logoCaelum.svg" alt="Log da Caelum - Ensino e inovação" class="header-logo" width="150" height="47">

        <nav class="wrap-header-menu">
            <ul class="header-menu">
                <li class="header-menu-item">
                    <a href="">Você vai aprender</a>
                </li>

                <li class="header-menu-item">
                    <a href="">Mão na massa</a>
                </li>

                <li class="header-menu-item">
                    <a href="">Professores</a>
                </li>

                <li class="header-menu-item header-menu-item_download">
                    <a href="">Download da apostila</a>
                </li>

                <li class="header-menu-item header-menu-item_callToAction">
                    <a href="" class="callToAction">Matricule-se</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="banner">
        <h1 class="banner-title">Faça o curso de UX<br>e revolucione o mercado de trabalho</h1>
        <h2 class="banner-subtitle">Êi, a próxima turma em São Paulo começa em 7 dias</h2>
        <a href="" class="banner-callToAction callToAction">Matricule-se</a>
    </section>
</body>
</html>
