<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Faça o curso de UX e revoluncione o mercado de trabalho</title>

    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/block/callToAction.css">

    <link rel="stylesheet" href="/style/block/header.css">
    <link rel="stylesheet" href="/style/block/banner.css">
    <link rel="stylesheet" href="/style/block/learning.css">
</head>
<body>
    <header class="header">
        <img src="/image/logoCaelum.svg" alt="Log da Caelum - Ensino e inovação" class="header-logo" width="150" height="47">

        <nav class="wrap-header-menu">
            <ul class="header-menu">
                <li class="header-menu-item">
                    <a href="">Você vai aprender</a>
                </li>

                <li class="header-menu-item">
                    <a href="">Mão na massa</a>
                </li>

                <li class="header-menu-item">
                    <a href="">Professores</a>
                </li>

                <li class="header-menu-item header-menu-item_download">
                    <a href="">Download da apostila</a>
                </li>

                <li class="header-menu-item header-menu-item_callToAction">
                    <a href="" class="callToAction">Matricule-se</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="banner">
        <h1 class="banner-title">Faça o curso de UX<br>e revolucione o mercado de trabalho</h1>
        <h2 class="banner-subtitle">Êi, a próxima turma em São Paulo começa em 7 dias</h2>
        <a href="" class="banner-callToAction callToAction">Matricule-se</a>
    </section>

    <article class="learning">
        <h1 class="learning-title title">Você vai aprender</h1>

        <nav class="wrap-learning">
            <ul class="learning-menu">
                <li class="learning-menu-item">
                    <a href="#uxStrategy" class="learning-menu-item-action learning-menu-item-action_uxStrategy learning-menu-item-action_isActive">
                        <strong>UX</strong> Strategy
                    </a>
                </li><!--
             --><li class="learning-menu-item learning-menu-item_center">
                    <a href="#uxUsability" class="learning-menu-item-action learning-menu-item-action_uxUsability">
                        <strong>UX</strong> Usability
                    </a>
                </li><!--
             --><li class="learning-menu-item">
                    <a href="#uxAnalysis" class="learning-menu-item-action learning-menu-item-action_uxAnalysis">
                        <strong>UX</strong> Analysis
                    </a>
                </li>
            </ul>
        </nav>

        <dl id="uxStrategy" class="uxToolBoxes">
            <dt class="uxToolBoxes-title">Planeje seu produto com foco no usuário</dt>

            <dd class="uxToolBoxes-item">MVP</dd>
            <dd class="uxToolBoxes-item">MLP</dd>
            <dd class="uxToolBoxes-item">Triângulo de Ouro</dd>
            <dd class="uxToolBoxes-item">360˚ View</dd>
            <dd class="uxToolBoxes-item">UX Canvas</dd>
            <dd class="uxToolBoxes-item">Pesquisa</dd>
            <dd class="uxToolBoxes-item">Proto-persona</dd>
            <dd class="uxToolBoxes-item">Persona</dd>
            <dd class="uxToolBoxes-item">Modelo Mental</dd>
            <dd class="uxToolBoxes-item">Cenário</dd>
            <dd class="uxToolBoxes-item">História</dd>
            <dd class="uxToolBoxes-item">Fluxograma</dd>
        </dl>
    </article>
</body>
</html>
