<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Faça o curso de UX e revoluncione o mercado de trabalho</title>

    <link rel="stylesheet" href="/style/reset.css">
</head>
<body>
    <header class="header">
        <img src="/image/logoCaelum.svg" alt="" class="header-logo">

        <nav class="wrap-header-menu">
            <ul class="header-menu">
                <li class="header-menu-item">
                    <a href="">Você vai aprender</a>
                </li>

                <li class="header-menu-item">
                    <a href="">Mão na massa</a>
                </li>

                <li class="header-menu-item">
                    <a href="">Professores</a>
                </li>

                <li class="header-menu-item">
                    <a href="">Download da apostila</a>
                </li>

                <li class="header-menu-item">
                    <a href="">Matricule-se</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>
