<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Faça o curso de UX e revoluncione o mercado de trabalho</title>

    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/block/callToAction.css">

    <link rel="stylesheet" href="/style/block/header.css">
    <link rel="stylesheet" href="/style/block/banner.css">
    <link rel="stylesheet" href="/style/block/learning.css">
    <link rel="stylesheet" href="/style/block/uxToolBoxes.css">
    <link rel="stylesheet" href="/style/block/infoCourse.css">
    <link rel="stylesheet" href="/style/block/downloadWorkbook.css">
</head>
<body>
    <header class="header">
        <img src="/image/logoCaelum.svg" alt="Log da Caelum - Ensino e inovação" class="header-logo" width="150" height="47">

        <nav class="wrap-header-menu">
            <ul class="header-menu">
                <li class="header-menu-item">
                    <a href="#learning">Você vai aprender</a>
                </li>

                <li class="header-menu-item">
                    <a href="">Mão na massa</a>
                </li>

                <li class="header-menu-item">
                    <a href="">Professores</a>
                </li>

                <li class="header-menu-item header-menu-item_download">
                    <a href="">Download da apostila</a>
                </li>

                <li class="header-menu-item header-menu-item_callToAction">
                    <a href="" class="callToAction">Matricule-se</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="banner">
        <h1 class="banner-title">Faça o curso de UX<br>e revolucione o mercado de trabalho</h1>
        <h2 class="banner-subtitle">Êi, a próxima turma em São Paulo começa em 7 dias</h2>
        <a href="" class="banner-callToAction callToAction">Matricule-se</a>
    </section>

    <article id="learning" class="learning">
        <h1 class="learning-title title">Você vai aprender</h1>

        <nav class="wrap-learning">
            <ul class="learning-menu">
                <li class="learning-menu-item">
                    <a href="#uxStrategy" class="learning-menu-item-action learning-menu-item-action_uxStrategy learning-menu-item-action_isActive">
                        <strong>UX</strong> Strategy
                    </a>
                </li><!--
             --><li class="learning-menu-item learning-menu-item_center">
                    <a href="#uxUsability" class="learning-menu-item-action learning-menu-item-action_uxUsability">
                        <strong>UX</strong> Usability
                    </a>
                </li><!--
             --><li class="learning-menu-item">
                    <a href="#uxAnalysis" class="learning-menu-item-action learning-menu-item-action_uxAnalysis">
                        <strong>UX</strong> Analysis
                    </a>
                </li>
            </ul>
        </nav>

        <dl id="uxStrategy" class="uxToolBoxes">
            <dt class="uxToolBoxes-title">Planeje seu produto com foco no usuário</dt>

            <dd class="uxToolBoxes-item">
                <img src="/image/uxStrategy.svg" alt="Conteúdo que vai ser abordado no curso sobre UX Strategy">
            </dd>
        </dl>
    </article><!-- #learning -->

    <article id="infoCourse" class="wrap-infoCourse">
        <ol class="infoCourse">
            <li class="infoCourse-item infoCourse-item_hours">
                <strong>40hs</strong> De aprendizado<br>com muita prática
            </li><!--
         --><li class="infoCourse-item infoCourse-item_qtd">
                <strong>632</strong> Alunos fizeram<br>esse curso
            </li><!--
         --><li class="infoCourse-item infoCourse-item_project">
                Faça um projeto<br>do zero ao protótipo
            </li><!--
         --><li class="infoCourse-item infoCourse-item_work">
                Saia preparado para o<br>mercado de trabalho
            </li>
        </ol>
    </article><!-- #infoCourse -->

    <section class="downloadWorkbook">
        <h1 class="downloadWorkbook-title">
            Quer saber mais o que você vai aprender?
        </h1>
        <h2 class="downloadWorkbook-subtitle">
            Resolvemos abrir nossa apostila para a comunidade!
        </h2>

        <a href="" class="downloadWorkbook-callToAction callToAction">
            Baixe a apostila
        </a>
    </section>

    <article class="wrap-handsOn">
        <h1 class="title wrap-handsOn-title"></h1>
        <h2 class="wrap-handsOn-subtitle"></h2>
        <h2 class="wrap-handsOn-subtitle"><a href=""></a></h2>

        <dl class="handsOn">
            <dt class="handsOn-photo"><img src="" alt=""></dt>
            <dd class="handsOn-like"></dd>
            <dd class="handsOn-comment"></dd>
            <dd class="handsOn-date"></dd>
        </dl>

        <dl class="handsOn">
            <dt class="handsOn-photo"><img src="" alt=""></dt>
            <dd class="handsOn-like"></dd>
            <dd class="handsOn-comment"></dd>
            <dd class="handsOn-date"></dd>
        </dl>
        
        <dl class="handsOn">
            <dt class="handsOn-photo"><img src="" alt=""></dt>
            <dd class="handsOn-like"></dd>
            <dd class="handsOn-comment"></dd>
            <dd class="handsOn-date"></dd>
        </dl>
    </article>
</body>
</html>
