<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Faça o curso de UX e revoluncione o mercado de trabalho</title>

    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/block/callToAction.css">

    <link rel="stylesheet" href="/style/block/header.css">
    <link rel="stylesheet" href="/style/block/banner.css">
    <link rel="stylesheet" href="/style/block/learning.css">
    <link rel="stylesheet" href="/style/block/uxToolBoxes.css">
</head>
<body>
    <header class="header">
        <img src="/image/logoCaelum.svg" alt="Log da Caelum - Ensino e inovação" class="header-logo" width="150" height="47">

        <nav class="wrap-header-menu">
            <ul class="header-menu">
                <li class="header-menu-item">
                    <a href="">Você vai aprender</a>
                </li>

                <li class="header-menu-item">
                    <a href="">Mão na massa</a>
                </li>

                <li class="header-menu-item">
                    <a href="">Professores</a>
                </li>

                <li class="header-menu-item header-menu-item_download">
                    <a href="">Download da apostila</a>
                </li>

                <li class="header-menu-item header-menu-item_callToAction">
                    <a href="" class="callToAction">Matricule-se</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="banner">
        <h1 class="banner-title">Faça o curso de UX<br>e revolucione o mercado de trabalho</h1>
        <h2 class="banner-subtitle">Êi, a próxima turma em São Paulo começa em 7 dias</h2>
        <a href="" class="banner-callToAction callToAction">Matricule-se</a>
    </section>

    <article class="learning">
        <h1 class="learning-title title">Você vai aprender</h1>

        <nav class="wrap-learning">
            <ul class="learning-menu">
                <li class="learning-menu-item">
                    <a href="#uxStrategy" class="learning-menu-item-action learning-menu-item-action_uxStrategy learning-menu-item-action_isActive">
                        <strong>UX</strong> Strategy
                    </a>
                </li><!--
             --><li class="learning-menu-item learning-menu-item_center">
                    <a href="#uxUsability" class="learning-menu-item-action learning-menu-item-action_uxUsability">
                        <strong>UX</strong> Usability
                    </a>
                </li><!--
             --><li class="learning-menu-item">
                    <a href="#uxAnalysis" class="learning-menu-item-action learning-menu-item-action_uxAnalysis">
                        <strong>UX</strong> Analysis
                    </a>
                </li>
            </ul>
        </nav>

        <dl id="uxStrategy" class="uxToolBoxes">
            <dt class="uxToolBoxes-title">Planeje seu produto com foco no usuário</dt>

            <dd class="uxToolBoxes-item">
                <img src="/image/uxStrategy.svg" alt="Conteúdo que vai ser abordado no curso sobre UX Strategy">
            </dd>
        </dl>
    </article>

    <article class="wrap-infoCourse">
        <ol class="infoCourse">
            <li class="infoCourse-item">
                <strong>40hs</strong> De aprendizado com muita prática
            </li>
            <li class="infoCourse-item">
                <strong>632</strong> Alunos fizeram esse curso
            </li>
            <li class="infoCourse-item">
                Faça um projeto do zero ao protótipo
            </li>
            <li class="infoCourse-item">
                Saia preparado para o mercado de trabalho
            </li>
        </ol>
    </article>
</body>
</html>
